block header
    div(class="nav nav-pills", id="homeNavigationBar")
        h2 Sign in SQLTester
        h5 Take credentials from your teacher.
block body
    div(ng-controller="HomeController as homeCtrl", class="container", id="testsListContainer")
        ul(class="list-group")
            li(class="list-group-item list-group-item-success", ng-repeat="test in homeCtrl.tests")
                label(id="testNameParagraph", ng-bind="test.testName")
                button(class="btn btn-default", ng-click="homeCtrl.startTest(test)", id="startTestButton") Pass
                label(id="testDateParagraph", ng-bind="homeCtrl.getFormattedDate(test.createdAt)")