block header
    div(class="nav nav-pills", id="homeNavigationBar")
        h2 Results of test
        h5 Remember! Each student has two attempts.
block body
    div(ng-controller="ResultController as resCtrl")
        div(class="panel panel-default", id="resultPanel")
            div(class="form-group" id="resultLabelGroup")
                label(class="control-label", id="resultLabel", ng-bind="'Result : ' + resCtrl.result + '/100 points'")
            div(class="form-group" id="resultMessageLabelGroup")
                label(class="control-label", id="resultMessageLabel", ng-bind="resCtrl.resultMessage")
            div(class="form-group")
                button(class="btn btn-default", ng-click="resCtrl.goHome()", id="goHomeButton") Go Home